.home {
  margin: 7px;
}

.product-div {
  /* width: 100%;
  height: 100%; */
}

.product-categoryHeading {
  font-weight: 600;
  font-size: 1.5rem;
}

.swiper-pagination-bullets {
  display: none;
}
